.border {
  border-width: 5px 5px 5px 5px;
  border-style: dashed;
  border-color: #f3e5f5;
}

.primary {
  text-align: center;
  background-color: #b6d4fe;
  color: #084298;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0, 0, 16px;
  border-radius: 10px;
  margin-top: 16px;
  margin-left: 300px;
  margin-right: 300px;
}

.secondary {
  text-align: center;
  background-color: #d3d6d8;
  color: #41464b;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0, 0, 16px;
  border-radius: 10px;
  margin-top: 16px;
  margin-left: 300px;
  margin-right: 300px;
}

.success {
  text-align: center;
  background-color: #badbcc;
  color: #0f5132;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0, 0, 16px;
  border-radius: 10px;
  margin-top: 16px;
  margin-left: 300px;
  margin-right: 300px;
}

.danger {
  text-align: center;
  background-color: #f5c2c7;
  color: #842029;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0, 0, 16px;
  border-radius: 10px;
  margin-top: 16px;
  margin-left: 300px;
  margin-right: 300px;
}

.warning {
  text-align: center;
  background-color: #ffecb5;
  color: #664d03;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0, 0, 16px;
  border-radius: 10px;
  margin-top: 16px;
  margin-left: 300px;
  margin-right: 300px;
}

.info {
  text-align: center;
  background-color: #b6effb;
  color: #055160;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0, 0, 16px;
  border-radius: 10px;
  margin-top: 16px;
  margin-left: 300px;
  margin-right: 300px;
}

.light {
  text-align: center;
  background-color: #fdfdfe;
  color: #636464;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0, 0, 16px;
  border-radius: 10px;
  margin-top: 16px;
  margin-left: 300px;
  margin-right: 300px;
}

.dark {
  text-align: center;
  background-color: #bcbebf;
  color: #141619;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0, 0, 16px;
  border-radius: 10px;
  margin-top: 16px;
  margin-left: 300px;
  margin-right: 300px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
