.alert {
  text-align: center;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0, 0, 16px;
  border-radius: 10px;
  margin-top: 16px;
  margin-left: 300px;
  margin-right: 300px;
}
.alert.primary {
  background-color: #b6d4fe;
  color: #084298;
}

.alert.secondary {
  background-color: #d3d6d8;
  color: #41464b;
}

.alert.success {
  background-color: #badbcc;
  color: #0f5132;
}

.alert.danger {
  background-color: #f5c2c7;
  color: #842029;
}

.alert.warning {
  background-color: #ffecb5;
  color: #664d03;
}

.alert.info {
  background-color: #b6effb;
  color: #055160;
}

.alert.light {
  background-color: #fdfdfe;
  color: #636464;
}

.alert.dark {
  background-color: #bcbebf;
  color: #141619;
}
